---
import DishCard from "@/components/dish-card";
import { getDishes } from "@/lib/queries";
import Layout from "@/layouts/Layout.astro";
import type { CuisineCategory } from "@/lib/types";

export function getStaticPaths() {
  const categories: CuisineCategory[] = [
    "sichuan",
    "hunan",
    "cantonese",
    "fujian",
    "jiangsu",
    "zhejiang",
    "anhui",
    "shandong",
  ];

  return categories.map((category) => ({
    params: { category },
    props: { category },
  }));
}

const { category } = Astro.props;
const foods = getDishes(category);
---

<Layout>
  <div class="container m-auto flex flex-col justify-center gap-10">
    <h1 class="text-3xl md:text-4xl lg:text-5xl font-semibold py-12">
      {category.charAt(0).toUpperCase() + category.slice(1)} Cuisine
    </h1>
    <div class="grid grid-cols-3 gap-10">
      {
        foods.map((food) => (
          <div class="flex max-w-3xl">
            <DishCard food={food} />
          </div>
        ))
      }
    </div>
  </div>
</Layout>
