---
import { DesktopNav, MobileNav } from "@/components/Nav";
---

<header
  class="sticky top-0 z-50 w-full border-b bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60"
>
  <div class="container flex h-16 items-center m-auto">
    <div class="mr-4 hidden md:flex">
      <a href="/" class="mr-6 flex items-center space-x-2">
        <span class="text-xl font-bold">Chinese Cuisine</span>
      </a>
      <DesktopNav client:load />
    </div>
    <div class="flex md:hidden">
      <a href="/" class="mr-6 flex items-center space-x-2">
        <span class="text-xl font-bold">Chinese Cuisine</span>
      </a>
    </div>
    <div class="flex flex-1 items-center justify-end space-x-4">
      <nav class="flex items-center space-x-2">
        <div class="md:hidden">
          <MobileNav client:load />
        </div>
      </nav>
    </div>
  </div>
</header>
